# Requrements for use with Binder (or local JupyterLab if what works on Binder is sufficient)
# See https://discourse.jupyter.org/t/what-is-installed-by-default-with-binder/10217/5

# USE in Binder (locally _jupyterlab/requirements.txt is more appropriate): <<<

-r ../requirements.txt
#-e ..                      # if using a setup.py

jupyterlab >=3.1

nbdime
#jupyterlab-git             # restore instead of nbgitpuller when issue 998 is resolved
nbgitpuller                # see https://jupyterhub.github.io/nbgitpuller/link
jupyterlab-link-share
#jupyter-videochat
#jupyterlab-kite            # doesn't work on Binder; install seperately for local use

ipywidgets                  # already installed by Binder?
ipympl




